.image-container {
  max-width: 40%;
  max-height: 100%;
  box-sizing: border-box;
  flex: 0 0 auto;
  
}
.image-carousel-viewer {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100px;
  height:100%;
  width: 100%;
  display:block;
}
.left-arrow {
  background: no-repeat center url('../styles/svg/leftbutton.svg');
  width: 40px;
  height: 40px;
  bottom: 1px;
  padding-right: 6px;
  position: relative;
  vertical-align: middle;
  background-size: 40px 40px;
}
.right-arrow {
  background: no-repeat center url('../styles/svg/rightbutton.svg');
  width: 40px;
  height: 40px;
  bottom: 1px;
  padding-right: 6px;
  position: relative;
  vertical-align: middle;
  background-size: 40px 40px;
}
.left-arrow:hover {
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
.right-arrow:hover {
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}