.related-restaurants-section {
  flex-direction:row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.single-restaurant {
  background: white;
  color: #101820;
  text-decoration: none;
  width: 45%;
  align-content: center;
  /* justify-content: space-evenly; */
  margin-right: 32px;
  margin-bottom: 40px;
  cursor: pointer;
  flex: 0 1 auto;
  display: flex;
  min-width: 300px;
}

